body {
    font-family: Arial;
}

h1 {
    align-content: center;
}


.columns {
    display: flex;
}

#column1 {
    width: 60%;
}

#column2 {
    width: 40%;
}

.acknowledgements {
    padding-top: 300px;
}

.point {
    fill: blue;
}

.point:hover {
    fill: rgba(194, 194, 18, 0.491); 
}

.border {
    stroke-width: 1px;
    stroke: orange;
}

.submission {
    display: block;
}